.card {
  text-align: center;
  padding: 15px;
  width: min(600px, 100%);
  margin: 10px 15px;
  margin-bottom: 0px;
  border-radius: 15px;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

.cardContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card p {
  margin-bottom: 0;
}

.card textarea {
  background-color: transparent;
  border: none;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
}

.card div:last-child {
  flex-grow: 0;
}

.card p,
.card hr,
.card h2 {
  flex-grow: 1;
}

.buttons {
  display: flex;
}

.subButtons {
  width: 33.3%;
  display: flex;
  justify-content: center;
}

.subLeft {
  justify-content: flex-start;
}

.subRight {
  justify-content: flex-end;
}

.buttons a,
.buttons button {
  margin-left: 5px;
}

.buttons a:first-child,
.buttons button:first-child {
  margin-left: 0;
}

@media screen and (min-width: 700px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0;
  }
  .card hr {
    width: 90%;
  }
}
