.deck {
  margin: 10px 15px;
  background-color: white;
  overflow: hidden;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 15px;
  margin-left: -3px;
  padding-left: 3px;
  display: flex;
  flex-direction: column;
}
.deckTitle,
.deckBody {
  padding: 15px;
}
.deckTitle {
  flex-grow: 0;
}
.deckBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  flex-grow: 1;
}
.deckFooter {
  display: flex;
  margin: 0;
  padding-top: 0;
  width: 100%;
  justify-content: space-between;
  flex-grow: 0;
  padding: 15px;
}
.deckTitle {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 3px black;
  flex: 1;
}
.deck h2 {
  margin-bottom: 0;
  font-size: 1.5em;
}
.muted {
  color: gray;
}

.deck input,
.deck textarea {
  margin-left: 5px;
  padding: 2px 8px;
  padding-right: 0;
  background-color: transparent;
  border: none;
  /* box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5); */
}

.deck input {
  font-size: 1.5em;
  margin-left: -6px;
  width: 100%;
}

.deck textarea {
  margin-left: -5px;
  display: flex;
  width: 100%;
  height: auto;
}
.deck p {
  margin: 0;
}
.deck p:last-child {
  margin-top: 10px;
}
.input {
  background-color: rgba(0, 0, 0, 0.5);
}
.deck hr {
  width: 90%;
  margin: 0;
  align-self: center;
}

@media screen and (min-width: 700px) {
  .deck {
    margin: 0;
    padding: 0;
    width: max(280px, 30%);
    border-radius: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .deckSingle {
    width: 600px;
  }
  .screenContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
