@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: #1f8c7c;
}

#root,
.app-routes {
  height: 100%;
}

p {
  margin-top: 0px;
}
/* 
h2 {
  font-family: "Lato", serif;
  font-weight: 400;
} */
